.time-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.time p:first-of-type {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0;
}

.time p:nth-child(2) {
    margin-bottom: 0;
  }
